<% user = params[:user] %>

  <h1> Your Account has been created please change your password </h1>
  <p> Please click this url and change your password: - <%= link_to 'Reset Your Password', edit_password_url(email: user.email) %></p>


