<h1>Screen Details</h1> 
<div class="Screen">

<p><strong>Screen Name:</strong> <%= @screen.screen_name %></p> 
<p><strong>Theater Name:</strong><%= @screen.theater.name %></p>
<p><strong>Status:</strong> <%= @screen.status %></p> 
<%= link_to 'Back to Screens', screens_path %>
</div>