<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
    <h1>Welcome to Booking App </h1>
    <p>
      You have successfully book your ticket 
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>
